/* Global Styles */


/* colors: background-color:#89b3f4;#e3e0eb; #f9eadf;#fffbdf;*/

@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #23286b;
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-weight: 400;
}

p {
    color: #23286b;
    font-size: 15px;
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #23286b;
    font-size: 1rem;
    margin: 0.1em 0;
    padding: 0;
    box-sizing: content-box;
    overflow: visible;
}

a {
    background-color: transparent;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

strong {
    font-weight: bolder;
}

img {
    border-style: none;
    border-radius: 5%;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 90%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
}


/* Flexbox  */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.flex-container>div {
    color: #23286b;
    background-color: #ffffff;
    width: 100%;
    margin: 1%;
    text-align: center;
    line-height: 80px;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.21);
}


/* header*/

header {
    width: 100%;
    margin-top: 0px;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
}


/* Navbar  */

.navbar-top {
    width: 100%;
    padding-top: 1%;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    min-height: 1vh;
}


/*logo*/

.logo {
    color: #23286b;
    width: 90%;
    font-family: "Pattaya", sans-serif;
    flex: 1rem;
    font-size: 2rem;
    text-align: left;
    margin: 1rem;
    padding-top: 0.2rem;
}

.div-logo {
    flex: 0.8rem;
    margin: 2%;
}

.login {
    display: flex;
    border-style: 1px solid #23286b;
}


/*searchbar*/

.search {
    color: #23286b;
    align-items: center;
    flex-grow: 1;
    max-width: 450px;
    border-style: 1px solid #23286b;
}

.search-button,
.search input ::placeholder {
    color: #23286b;
    background-color: #ffffff;
    font-family: "Pattaya", sans-serif;
    text-align: center;
    border-style: 1px solid #23286b;
    font-size: 1.5rem;
}


/*Category Section*/

.category {
    color: #23286b;
}


/*Hero Section*/

.hero {
    background-image: url("assets/img/background-img.svg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-title {
    width: 100%;
    color: #23286b;
    text-align: left;
    font-size: 3rem;
    margin: 5%;
    position: relative;
    z-index: 3;
}

.hero-button {
    color: #23286b;
    background-color: #fffbd4;
    font-size: 2rem;
    border-radius: 10%;
    position: absolute;
    display: flex;
}


/*BESTSELLERS Section*/

.bestsellers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*READERS Section*/

.readers {
    display: flex;
    justify-content: center;
    /*
    width: 100%;
    font-size: 1rem;
    flex-direction: row;*/
}


/*PROMOTIONSS Section*/

.promotions {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*CARDS SECTION*/

.card {
    height: 350px;
    /*max-width: 48%;*/
    margin: 3%;
    background-color: #e3e0eb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.21);
    border-radius: 5%;
}

.div-card {
    padding: 1%;
    margin: 1%;
}

.card-button,
.newsletter-button {
    color: #23286b;
    background-color: #fffbd4;
    font-size: 1rem;
    margin-bottom: 5px;
    padding: 5px;
}


/*FOOTER*/

.footer {
    background-color: #e3e0eb;
}

.input {
    color: #23286b;
    background-color: #fffbdf;
    font-family: "Pattaya", sans-serif;
    text-align: center;
    border-style: 1px solid #23286b;
    font-size: 1rem;
}

ul,
ul.li {
    padding: 0;
}


/* Media Queries */


/* Mobile devices */

@media only screen and (max-width: 749px) {
    body {
        background-color: #f9eadf;
    }
    .navbar-top,
    .shopping-cart,
    .search {
        display: none;
    }
    .bestsellers,
    .readers,
    .promotions,
    .card {
        flex-direction: column;
        align-content: center;
    }
    .div.card {
        width: 100%;
    }
}


/* Tablets */

@media (min-width: 750px) {
    body {
        background-color: #f9eadf;
    }
    .flex-container>div.readers,
    .flex-container>div.promotions,
    .promotions {
        width: 48%;
        align-self: center;
        align-content: center;
    }
}


/*  Laptop, Desktop, Desktop HD */

@media (min-width: 768px) {
    body {
        background-color: #f9eadf;
    }
    .flex-container>div.readers,
    .flex-container>div.promotions,
    .promotions {
        width: 48%;
        align-self: center;
        align-content: center;
    }
}
